<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INocturneService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7960/NocturneService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INocturneService"
                contract="ServiceReference.INocturneService" name="BasicHttpBinding_INocturneService" />
        </client>
    </system.serviceModel>
</configuration>